<div class="row">
    <section class="column siteContent">
        <section class="row column">

            <article class="postPage">
                <!--    Post title  -->
                <h1 class="postPage-title u-text--center">H1 Our Journal</h1>

                <!--    Post Content    -->
                <div class="postPage-content">

                    <!-- TODO: Centering of this blokc should be done from WYSIWYG editor, in case it will be custom field/ just add class ".u-text--center" -->
                    <div class="intro" style="text-align: center;">
                        <p>
                            Our journal highlights the best in Pinellas County's visual and performing arts. Our multimedia coverage of this dynamic cultural scene includes timely features, event previews, and perspectives from casual to critical, focused on the arts in all genres.
                        </p>
                    </div>


                </div>
                <!--    Post Content    -->
            </article>

        </section>


        <!--    Related Posts   -->
        <section class="row medium-collapse">
            <div class="medium-8 column medium-centered">
                <h2 class="u-text--center">RECENT POSTS</h2>

                <div class="postsList">
                    <!--    postsList-item  -->
                    <div class="postsList-item">
                        <div class="postsList-item-image">
                            <img src="http://placehold.it/880x880" alt="" srcset="http://placehold.it/880x880 460w, http://placehold.it/280x280 768w">
                            <span class="postsList-item-categoryDecor" style="background-color: #0177c1"></span>
                        </div>
                        <div class="postsList-item-body">
                            <h3>Opera Made NEW</h3>
                            <p>Body font is set to 16px pragmatica-web. All other relationships cascade from the base body font. P size is 1em/1.6em, Pragmatica Light, 300 weight...</p>
                            <p><i>BY AUTHOR NAME | <a href="#">CATEGORY</a></i></p>
                        </div>
                        <div>
                            <a href="#" class="btn btn--fullWidth">Read More</a>
                        </div>
                    </div>
                    <!--   / postsList-item  -->

                    <!--    postsList-item  -->
                    <div class="postsList-item">
                        <div class="postsList-item-image">
                            <img src="http://placehold.it/880x880" alt="" srcset="http://placehold.it/880x880 460w, http://placehold.it/280x280 768w">
                            <span class="postsList-item-categoryDecor" style="background-color: #f7941d"></span>
                        </div>
                        <div class="postsList-item-body">
                            <h3>Opera Made NEW</h3>
                            <p>Body font is set to 16px pragmatica-web. Body font is set to 16px pragmatica-web...</p>
                            <div class="postsList-item-info">BY AUTHOR NAME | <a href="#">CATEGORY</a></div>
                        </div>
                        <div>
                            <a href="#" class="btn btn--fullWidth">Read More</a>
                        </div>
                    </div>
                    <!--   / postsList-item  -->
                </div>
            </div>

        </section>

    </section>

</div>