<div class="row">
    <section class="medium-8 large-9 column siteContent siteContent--hasSidebar">
        <section class="row column">

            <article class="postPage">
                <!--    Post title  -->
                <h1 class="postPage-title">H1 Contact Page</h1>

                <!--    Post Content    -->
                <div class="postPage-content">

                    <div class="intro">
                        <p>Intro p is 1.5em/1.25em and is colored using #04b4c3 to help it stand out.&nbsp;Intro p is 1.5em/1.25em and is colored using #04b4c3 to help it stand out.</p>
                    </div>

                    <div class="contactForm">
                        <form action="#" class="formElement">
                            <div class="formElement-row large-5">
                                <label for="name_field">Name</label>
                                <input type="text" name="name_field" id="name_field">
                            </div>
                            <div class="formElement-row large-5">
                                <label for="email_field">Email</label>
                                <input type="email" name="email_field" id="email_field">
                            </div>
                            <div class="formElement-row large-5">
                                <label for="org_field">Organization</label>
                                <input type="text" name="org_field" id="org_field">
                            </div>
                            <div class="formElement-row large-5">
                                <label for="person_select">I am a(n)</label>
                                <select id="person_select" name="person_select">
                                    <option value="Artist">Artist</option>
                                    <option value="Art Lover">Art Lover</option>
                                    <option value="Member of Media">Member of Media</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="formElement-row">
                                <label for="org_field">Message</label>
                                <textarea></textarea>
                            </div>
                            <div class="formElement-row">
                                <input type="submit" value="Submit">
                            </div>
                        </form>
                    </div>


                </div>
                <!--    Post Content    -->
            </article>

        </section>

    </section>

    <aside class="medium-4 large-3 column siteSidebar">
        <div class="siteSidebar-inner">
            <!--    Sidebar widget  -->
            <div class="">
                <h3>Offices & Mailing Address</h3>
                <div class="siteSidebar-item-content">
                    <p>
                        Creative Pinellas <br> 8200 Bryan Dairy Road, Suite 200 <br> Largo, FL 33777
                    </p>
                    <p>
                        <a href="tel:(727) 464-7261">(727) 464-7261</a>
                    </p>
                    <div class="mapHolder">
                        <!-- Map here width x height settings sets in plugin settings > formatting as width: 100%; height: 280px; -->
                    </div>
                    <p><a href="#">Get Directions</a></p>
                </div>
            </div>

        </div>
    </aside>
</div>