<footer class="siteFooter">
    <div class="row">
        <div class="large-3 column">
            <div class="siteFooter-logo">
                <a href="#" title="Creative Pinellas">
                    <svg class='svgIcon svgIcon--logo'>
                        <use xlink:href='#logoFull'/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="medium-9 large-6 column">
            <nav class="show-for-large siteNavigation siteNavigation--footer">
                <ul class="u-list--plain u-list--inline">
                    <li>
                        <a href="#">For the arts community</a>
                        <ul class="u-list--plain">
                            <li><a href="#">Oure Grants</a></li>
                            <li><a href="#">Grant Recipients</a></li>
                            <li><a href="#">Learning Center</a></li>
                            <li><a href="#">Events for Artists</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Explore the arts</a>
                        <ul class="u-list--plain">
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Venue Directory</a></li>
                            <li><a href="#">Local Artists Directory</a></li>
                        </ul>
                    </li>
                    <li><a href="#">New Releases</a></li>
                </ul>
            </nav>
        </div>
        <div class="medium-3 column">
            <ul class="socialList u-list--plain u-list--inline test5">
                <li>
                    <a href="#" target="_blank" title="Follow us on Twitter">
                        <svg class='svgIcon'>
                <use xlink:href='#twitter'/>
            </svg>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" title="Follow us on Facebook">
                        <svg class='svgIcon'>
                <use xlink:href='#facebook'/>
            </svg>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" title="Follow us on Youtube">
                        <svg class='svgIcon'>
                <use xlink:href='#youtube'/>
            </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>