<section class="homeIntro">
    <div class="row homeIntro-textInfo">
        <div class="medium-11 medium-centered large-uncentered large-8 column">
            <h1>What is Creative Pinellas?</h1>
            <p>Body font is set to 16px pragmatica-web. All other relationships cascade from the base body font. P size is 1em/1.6em, Pragmatica Light, 300 weight.<br></p>
        </div>
    </div>
    <div class="row small-collapse homeIntro-gridList">
        <div class="medium-4 column">
            <div class="promoList-item">
                <a href="#" class="js-touchFocus">
                    <div class="promoList-item-image">
                        <img src="http://placehold.it/960x960" alt="" srcset="http://placehold.it/960x960 480w, http://placehold.it/1480x1480 768w, http://placehold.it/480x480 1200w">
                    </div>
                    <div class="promoList-item-body">
                        <h3>EXPLORE ART VENUES</h3>
                        <p>Find places to see and engage with art.</p>
                        <span class="promoList-item-categoryDecor" style="background-color: rgb(247,148,29);"></span>
                    </div>
                    <div class="promoList-item-button">
                        <span class="btn btn--white">VENUE DIRECTORY</span>
                    </div>
                </a>
            </div>
            <!--   / promoList-item  -->

        </div>
        <div class="medium-4 column">
            <div class="promoList-item">
                <a href="#" class="js-touchFocus">
                    <div class="promoList-item-image">
                        <img src="http://placehold.it/960x960" alt="" srcset="http://placehold.it/960x960 480w, http://placehold.it/1480x1480 768w, http://placehold.it/480x480 1200w">
                    </div>
                    <div class="promoList-item-body">
                        <h3>EXPLORE ART VENUES</h3>
                        <p>Find places to see and engage with art.</p>
                        <span class="promoList-item-categoryDecor" style="background-color: rgb(247,148,29);"></span>
                    </div>
                    <div class="promoList-item-button">
                        <span class="btn btn--white">VENUE DIRECTORY</span>
                    </div>
                </a>
            </div>
            <!--   / promoList-item  -->

        </div>
        <div class="medium-4 column end">
            <div class="promoList-item">
                <a href="#" class="js-touchFocus">
                    <div class="promoList-item-image">
                        <img src="http://placehold.it/960x960" alt="" srcset="http://placehold.it/960x960 480w, http://placehold.it/1480x1480 768w, http://placehold.it/480x480 1200w">
                    </div>
                    <div class="promoList-item-body">
                        <h3>EXPLORE ART VENUES</h3>
                        <p>Find places to see and engage with art.</p>
                        <span class="promoList-item-categoryDecor" style="background-color: rgb(247,148,29);"></span>
                    </div>
                    <div class="promoList-item-button">
                        <span class="btn btn--white">VENUE DIRECTORY</span>
                    </div>
                </a>
            </div>
            <!--   / promoList-item  -->

        </div>
    </div>
</section>
<!-- end .homeIntro -->

<section class="communitySection">
    <div class="row communitySection-text">
        <div class="medium-11 medium-centered large-uncentered large-8 column">
            <h1>For The Art Community</h1>
            <p>Body font is set to 16px pragmatica-web. All other relationships cascade from the base body font. P size is 1em/1.6em, Pragmatica Light, 300 weight.<br></p>
        </div>
    </div>
    <div class="row js-community-equalHeight">
        <div class="small-4 column">
            <a href="#" class="communitySection-link" data-equal style="background-image: url(http://placehold.it/320x800)">
                <!-- NOTE: background-image: url(path_to_image) this image will be uploaded by client -->
                <span>Some text for this links</span>
            </a>

        </div>
        <div class="small-4 column">
            <a href="#" class="communitySection-link" data-equal style="background-image: url(http://placehold.it/320x800)">
                <!-- NOTE: background-image: url(path_to_image) this image will be uploaded by client -->
                <span>Some text for this links</span>
            </a>

        </div>
        <div class="small-4 column">
            <a href="#" class="communitySection-link" data-equal style="background-image: url(http://placehold.it/320x800)">
                <!-- NOTE: background-image: url(path_to_image) this image will be uploaded by client -->
                <span>Some text for this links</span>
            </a>

        </div>
    </div>
</section>
<!-- end .communitySection -->