<div class="headerSection">
    <div class="row headerSection-inner">
        <div class="large-7 column">
            <div class="headerSection-inner-poster">
                <img src="http://placehold.it/556x375" alt="">
            </div>
        </div>
        <div class="large-5 column">
            <div class="headerSection-inner-text">
                <h1>A Little Fun with Miniature Curiousa</h1>
                <p>The Inventively Low-Fi, Mixed-media Mavens Perform with Bands Laghima and Bubble Boys at Venture Compound</p>
                <a href="#" class="btn btn--white">SEE EVENT</a>
            </div>
        </div>
    </div>
</div>