.siteHeader {
    background-color: $sky;
}
.siteHeader-top {
    position: relative;
    padding: 20px 0;
    overflow: hidden;
    @include breakpoint(large) {
        overflow: visible;
    }
    @include breakpoint(large down) {
        display: table;
        width: 100%;

        & > .column {
            display: table-cell;
            vertical-align: middle;
            float: none;
            &:last-child:not(:first-child) {
                float: none;
            }
        }
    }
    &:before {
        content: "";
        display: block; // redefine row:before display:table
        position: absolute;
        top: 0;
        left: -90px;
        bottom: 0;
        width: 460px;
        background: url("../images/header-background-image.svg") 0 -220px no-repeat;
        background-size: 100% 760px;
        opacity: .1;
        backface-visibility: hidden;
        @include breakpoint(medium) {
            width: 760px;
            background-position: 0 -160px;
        }
    }
    & > .column {
        position: relative;
    }
}
.siteHeader-social,
.siteHeader-topNav {
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
}
.siteHeader-topNav {
    margin-right: 5px;
}
