/*TODO: Temporary style */
.off-canvas-wrapper {
    height: 700px;
}
/*TODO: End Temporary style */
.siteHeader {
    background: $sky;
}
.siteHeader-top {
    padding: 20px 0;
}
.siteHeader-social,
.siteHeader-topNav {
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
}
