.homeSection {
    padding-top: 35px;
    padding-bottom: 35px;
    @include breakpoint(medium) {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}
.homeSection-text {
    margin-bottom: 35px;
    text-align: center;
    @include breakpoint(medium) {
        margin-bottom: 65px;
        text-align: left;
    }
}
.homeSection--journalSection {
    padding-bottom: 35px;
}
