.off-canvas-wrapper,
.off-canvas-wrapper-inner {
    height: 100%;
    background-color: $sky;
}
.off-canvas-content {
    width: 100%;
    @include breakpoint(medium) {
        display: table;
    }
}
.off-canvas {
    height: 100%;
}
.siteContent {
    padding: 50px 10px 50px;
    @include breakpoint(medium) {
        padding: 100px 15px 90px;
    }
}
.siteSidebar {
    padding: 0 10px 90px;
    @include breakpoint(medium) {
        padding-top: 100px;
        padding-left: 0;
        padding-right: 15px;
    }

}
.siteContent--hasSidebar {
    @include breakpoint(medium) {
        padding-right: 8%;
    }
    @include breakpoint(large) {
        padding-right: 10%;
    }
}
.siteContent > .row {
    margin-bottom: 48px;
}
.relatedContent {
    margin-top: -50px;
    padding: 0 10px 50px;
    @include breakpoint(medium) {
        margin-top: -100px;
        padding: 0 15px 90px;
    }
}
.relatedContent--hasSidebar {
    @include breakpoint(medium) {
        padding-right: 8%;
    }
    @include breakpoint(large) {
        padding-right: 10%;
    }
}