.postPageNavigation {
    padding: 13px 0;
    border-top: 1px solid $gray-border;
}
.postNavigation-prev,
.postNavigation-next {
    display: inline-block;
    max-width: 45%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.postNavigation-prev {
    float: left;
}
.postNavigation-next {
    float: right;
}

.pagination {
    position: relative;
    text-align: center;
    .page-numbers {
        display: none;
        padding: 5px;
        @include breakpoint(medium) {
            display: inline-block;
        }
        &.current {
            display: inline-block;
        }
    }
    .prev,
    .next {
        display: block;
        @include breakpoint(medium) {
            position: absolute;
            top: 0;
            float: none;
        }
    }
    .prev {
        float: left;
        @include breakpoint(medium) {
            left: 0;
        }
    }
    .next {
        float: right;
        @include breakpoint(medium) {
            right: 0;
        }
    }
}
