.directoryFilters {
    .selectboxit-container {
        display: block;
    }
    .selectboxit {
        width: auto;
    }
    .directoryFilters-action {
        margin-top: 13px;
    }
}
