.directoryFilters {
    .selectboxit-container {
        display: block;
    }
    .selectboxit {
        width: auto;
    }
    .directoryFilters-form {
        display: none;
        @include breakpoint(medium) {
            display: block;
        }
    }
    .directoryFilters-action {
        margin-top: 13px;
    }
}
