.directoryFilters {
    margin-bottom: 45px;
    .selectboxit-container {
        display: block;
    }
    .selectboxit {
        width: auto;
    }
    .directoryFilters-action {
        margin-top: 13px;
    }
}
