.siteHeader {
    background-color: $sky;
}
.siteHeader-inner {
    position: relative;
    overflow: hidden;
    @include breakpoint(medium) {
        overflow: visible;
    }
    &::before {
        content: "";
        display: block; // redefine row:before display:table
        position: absolute;
        top: 0;
        left: -90px;
        bottom: 0;
        width: 460px;
        background: url("../images/header-background-image.svg") 0 -220px no-repeat;
        background-size: 100% 760px;
        opacity: .1;
        backface-visibility: hidden;
        @include breakpoint(medium) {
            width: 760px;
            background-position: 0 -160px;
        }
    }
}
.siteHeader-top {
    position: relative;
    padding: 20px 0 0;
    @include breakpoint(large down) {
        display: table;
        width: 100%;

        & > .column {
            display: table-cell;
            vertical-align: middle;
            float: none;
            &:last-child:not(:first-child) {
                float: none;
            }
        }
    }
    & > .column {
        position: relative;
    }
}
.siteHeader-social,
.siteHeader-topNav {
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
}
.siteHeader-topNav {
    margin-right: 5px;
}
.siteHeader-mainNav {
    display: none;
    @include breakpoint(large) {
        display: inline-block;
    }
}
.siteHeader-widgets {
    position: relative;
    padding-bottom: 20px;
    .widget_search {
        display: none;
        input[type="search"] {
            background: $white;
        }
        input[type="submit"] {
            margin: 0;
        }
        .column {
            padding-right: .625rem;;
            @include breakpoint(medium) {
                padding-right: .9375rem;
            }
        }
    }
}
.siteHeader-searchToggle {
    margin: 0 15px 0 0;
    @include breakpoint(medium) {
        margin-left: 15px;
    }
    @include breakpoint(large) {
        margin: 0;
    }
}
.siteHeader--headerSection {
    position: relative;
    margin-bottom: 40px;
    @include breakpoint(medium) {
        margin-bottom: 50px;
        &::after {
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 50px;
            content: "";
            background-color: $white;
        }
    }
}
