.postPageNavigation {
    padding: 13px 0;
    border-top: 1px solid $gray-border;
}
.postNavigation-prev,
.postNavigation-next {
    display: inline-block;
    max-width: 45%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.postNavigation-prev {
    float: left;
}
.postNavigation-next {
    float: right;
}
