.mobileNavToggle {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 4px 7px 5px;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    border: 1px solid $white;
    color: $white;
    backface-visibility: hidden;
    &:before {
        content: attr(data-close);
    }
    &:hover {
        text-decoration: none;
    }
    &.is-open:not('is-open'):hover {
        border-color: $white;
        background: $white;
        color: $sky;
        .mobileNavToggle-hamburger {
            span,
            &:before,
            &:after {
                background: $sky;
            }
        }
    }
    &.is-open {
        &:before {
            content: attr(data-open);
        }
        .mobileNavToggle-hamburger {
            span {
                opacity: 0;
            }
            &:before {
                transform: rotate(45deg) translate(6px, 6px);
            }
            &:after {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}
.mobileNavToggle-hamburger {
    display: block;
    margin-top: 1px;
    backface-visibility: hidden;
    span,
    &:before,
    &:after {
        content: "";
        display: block;
        height: 5px;
        margin-bottom: 4px;
        border-radius: 2px;
        background: $white;
        transition: all .3s;
        backface-visibility: hidden;
    }
    &:after {
        margin-bottom: 0;
    }
}
