//Colours should always only appear in this colours.scss
$black: #000;
$black--20: rgba(0,0,0,.2);
$black--40: rgba(0,0,0,.4);
$charcoal: #585858;
$charcoal--light: #a4a4a4;
$gray: #e5e5e5;
$heather: #969696;
$ocean: #0177c1;
$ocean--80: rgba(1,119,193,.8);
$orange: #f7941d;
$orange--75: rgba(247,148,29,.75);
$red: #d65453;
$red--light: #ffebe8;
$sky: #04b4c3;
$sky--40: rgba(4,180,195,.4);
$sky--dark: #16a2af;
$sky--darker: #1393a0;
$sunshine: #ffca08;
$white: #fff;
$white--20: rgba(255,255,255,.2);
$white--40: rgba(255,255,255,.4);
$white--80: rgba(255,255,255,.8);
