*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    min-width: 320px;
    font-family: $font-base;
    font-size: $fontSize-base;
    font-weight: $fontWeight-light;
    line-height: $lineHeight-base;
    color: $black;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: $ocean;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
img {
    max-width: 100%;
    height: auto;
}
p {
    margin: 0 0 1.421rem;
    &:last-child {
        margin-bottom: 0;
    }
}
h1 {
    margin: 0 0 27px;
    font-size: $fontSize-largest;
    font-weight: $fontWeight-extraLight;
    line-height: $lineHeight-stightest;
}
h2 {
    margin: 1.25em 0 .75em 0;
    font-size: $fontSize-larger;
    font-weight: $fontWeight-bold;
    line-height: $lineHeight-tightest;
    text-transform: uppercase;
}
h3 {
    margin: 0 0 .75em;
    font-size: $fontSize-large;
    font-weight: $fontWeight-bold;
    line-height: $lineHeight-tighter;
}
.intro {
    margin: 1.2em 0;
    font-size: $fontSize-larger;
    font-weight: $fontWeight-extraLighter;
    line-height: $lineHeight-tightest;
    color: $sky;
    &:last-child {
        margin-bottom: 0;
    }
}
blockquote {
    margin: 1em 0;
    padding-left: 20px;
    font-size: $fontSize-larger;
    line-height: $lineHeight-tight;
    border: 1px solid $sky;
    border-width: 0 0 0 26px;
    &:last-child {
        margin-bottom: 0;
    }
}
ul,
ol {
    margin: 0 0 1em 3em;
    padding: 0;
}
.caption,
.wp-caption .wp-caption-text,
.gallery-caption {
    font-style: italic;
    font-size: $fontSize-small;
    color: $charcoal;
}
#svgPlaceholder {
    display: none;
}
.svgIcon {
    fill: currentColor;
}
.svgIcon--logo {
    width: 164px;
    height: 65px;
}
.section-bottomLined {
    padding-bottom: 40px;
    border-bottom: 2px solid #d4d4d4;
}
.searchToggle {
    font-size: $fontSize-large;
    color: $white;
    transition: all .2s ease-out;

    @include breakpoint(large) {
        &:hover {
            color: $ocean;
        }
    }
}
.ajaxLoader {
    visibility: hidden;
    opacity: 0;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $white--80;
    transition: all .3s ease-in-out;
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &.is-active {
        opacity: 1;
        visibility: visible;
    }
}
