input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
textarea {
    width: 100%;
    padding: 7px 10px 8px;
    border: 2px solid $charcoal--light;
    border-radius: 0;
    background: none;
    -webkit-appearance: none;
    box-sizing: border-box; // redefine foundation content-box for search type
    &:focus {
        outline-color: $ocean;
        border-color: $ocean;
    }
    &::placeholder {
        font-style: italic;
    }
    &.is-datepicker {
        background: url("../images/calendar.svg") no-repeat 95% 8px;
        background-size: 14px 24px;
    }
    &.wpcf7-not-valid {
        border-color: $red;
    }
    &.is-inline {
        width: auto;
    }

}
textarea {
    resize: vertical;
    height: 150px;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
    display: inline-block;
    margin: 12px 0;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    border: 1px solid $black;
    color: $black;
    transition: background-color .2s ease-out, border-color .2s ease-out;
    -webkit-appearance: none;
    appearance: none;
    &:hover,
    &:active {
        text-decoration: none;
        border-color: $black--20;
        background-color: $black--20;
        transition: background-color .3s ease-in, border-color .3s ease-in;
        cursor: pointer;
    }
}
button.btn--white,
input[type="button"].btn--white,
input[type="reset"].btn--white,
input[type="submit"].btn--white,
.btn--white {
    border-color: $white;
    background: transparent;
    color: $white;
    &:hover,
    &:active {
        border-color: $white--20;
        background-color: $white--20;
    }
}
button.btn--ocean,
input[type="button"].btn--ocean,
input[type="reset"].btn--ocean,
input[type="submit"].btn--ocean,
.btn--ocean {
    border-color: $ocean;
    background: $ocean;
    color: $white;
    &:hover,
    &:active {
        border-color: $ocean--80;
        background-color: $ocean--80;
    }
}
.btn--fullWidth {
    width: 100%;
}
button.btn-middleWidth,
input[type="button"].btn-middleWidth,
input[type="reset"].btn-middleWidth,
input[type="submit"].btn-middleWidth,
.btn-middleWidth {
    padding-left: 50px;
    padding-right: 50px;
}

/*  Global Select styling */
.jcf-select {
    max-width: none;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    border: 2px solid $charcoal--light;
    background: none;
    * {
        font-family: $font-base;
        font-size: $fontSize-base;
        font-weight: $fontWeight-light;
    }
    &.jcf-compact-multiple {
        max-width: none;
    }
    &.jcf-focus {
        border-color: $ocean !important;
    }
    .jcf-select-text {
        height: 41px;
        line-height: 41px;
        padding-left: 3px;
        font-style: italic;
    }
    &.jcf-compact-multiple .jcf-select-opener,
    .jcf-select-opener {
        background: none;
        height: 100%;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            width: 0;
            margin: 0 auto;
            padding: 0;
            border-top: 4px solid $black;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
    }
}
.jcf-select-drop {
    * {
        font-family: $font-base;
        font-size: $fontSize-base;
        font-weight: $fontWeight-light;
    }
    &.jcf-compact-multiple {
        .jcf-selected {
            color: $ocean;
            background: none;
            &:before {
                vertical-align: middle;
                margin: 0 10px 0 0;
                border-color: $ocean;
                border-width: 0 0 2px 3px
            }
        }
    }
    .jcf-select-drop-content {
        border: none;
        box-shadow: 1px 1px 5px $black--40;
    }
    .jcf-list {
        ul li {
            position: relative;
            line-height: normal;
            color: $ocean;
            transition: all .2s ease-out;
            &:after {
                content: '';
                position: absolute;
                height: 1px;
                left: 25px;
                right: 25px;
                bottom: 0;
                background: #f2f2f2;
                transition: all .2s ease-out;
            }
            &:hover {
                background: $ocean;
                color: $white;
                &:after {
                    background: $ocean;
                }
                .jcf-option {
                    color: $white;
                    &:before {
                        border-color: $white;
                    }
                }
            }
            &:last-child:after {
                display: none;
            }
        }
        .jcf-option {
            padding: 8px 20px;
            color: $ocean;
            white-space: normal;
        }
    }
    .jcf-hover {
        background: none;
    }
}

// Time picker from submit Event form
.time-picker {
    position: absolute;
    z-index: 99;
    width: 140px;
    height: 191px;
    margin: 0;
    background: $white;
    border: 1px solid $gray-border;
    color: $ocean;
    overflow: auto;
    box-shadow: 1px 1px 5px $black--40;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        cursor: pointer;
        padding: 8px 20px;
        white-space: nowrap;
        transition: all .2s ease-out;
        &.selected {
            background: $ocean;
            color: $white;
        }
    }
}
.formElement-row {
    margin-bottom: 20px;
    label {
        display: block;
        margin-bottom: 5px;
        color: $black;
    }
}
label {
    font-weight: $fontWeight-bold;
}
.form-row,
.wpcf7-form-control-wrap {
    display: block;
    position: relative;
    margin-bottom: 15px;
}
span.wpcf7-not-valid-tip {
    display: inline-block;
    margin-top: 5px;
    color: $red;
}
div.wpcf7-response-output {
    margin: 0 0 30px;
    padding: 13px 20px;
}
div.wpcf7-validation-errors {
    border: 2px solid $red--light;
    background: $red--light;
    &:before {
        content: $fa-var-times-circle;
        display: inline-block;
        margin-right: 5px;
        font-family: FontAwesome;
        font-size: $fontSize-large;
        vertical-align: middle;
        color: $red;
        text-rendering: auto; // optimizelegibility throws things off #1094
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
div.wpcf7-mail-sent-ok {
    border: 2px solid transparent;
    background: $sky--40;
}
