.promoList {
    margin-bottom: 40px;
}
.promoList-item {
    position: relative;
    max-width: 498px;
    margin: 0 auto 30px;
    padding-right: 30px;
    padding-left: 30px;
    overflow: hidden;
    @include breakpoint(medium) {
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    a {
        display: block;
        position: relative;
    }
    &:hover,
    a:focus {
        .promoList-item-categoryDecor {
            top: -480px;
            bottom: -480px;
            @include breakpoint(halfMedium) {
                top: -700px;
                bottom: -700px;
            }
            @include breakpoint(medium) {
                top: -300px;
                bottom: -300px;
            }
        }
        .promoList-item-body {
            p {
                height: auto;
                opacity: 1;
                visibility: visible;
            }
        }
        .promoList-item-button {
            opacity: 1;
        }
    }
}
.promoList-item-image {
    img {
        width: 100%;
    }
}
.promoList-item-body {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 0 15px;
    color: $white;
    @include breakpoint(large) {
        top: 15%;
    }
    &:before {
        position: relative;
        z-index: 101;
        display: block;
        width: 24px;
        height: 24px;
        content: "";
        margin-bottom: 10px;
        background: $white;
    }
    h3 {
        position: relative;
        z-index: 101;
        margin-bottom: 10px;
        font-size: 1rem;
        @include breakpoint(large) {
            margin-bottom: 20px;
            font-size: 1.2rem;
        }
    }
    p {
        position: relative;
        z-index: 101;
        height: 0;
        margin-bottom: 0;
        transition: all .2s ease-out;
        visibility: hidden;
        opacity: 0;
    }
}
.promoList-item-categoryDecor {
    position: absolute;
    left: 0;
    top: -10px;
    bottom: 0;
    z-index: 100;
    width: 100%;
    opacity: 0.85;
    transition: all .2s ease-out;
}
.promoList-item-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 103;
    transition: all .2s ease-out;
    opacity: 0;
    @include breakpoint(large) {
        bottom: 30px;
        right: 30px;
    }
    .btn {
        min-width: 194px;
    }
}
